@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Duyurular>
@foreach (var x in Model)
{
<div class="timeline timeline-inverse">
    <div class="time-label">

        <span class="bg-warning">

            @x.Tarih.ToShortDateString()

        </span>

    </div>
   
    <div>

        <i class="fas fa-envelope bg-primary"></i>

        <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> @x.Yayınlayan</span>
            <br />
            <h3 class="timeline-header"><a href="#"></a></h3>

            <div class="timeline-body">

          @x.İçerik

            </div>
        </div>

    </div>
</div>
 }
