@model MvcOnlineTicariOtomasyon.Models.Siniflar.KargoDetay
@{
    ViewBag.Title = "YeniKargo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
@using (Html.BeginForm("YeniKargo", "Kargo", FormMethod.Post))
{
    <div class="">
        <form class="form-group" method="post">
            @Html.HiddenFor(x => x.TakipKodu)
            <input type="text" class="form-control" value="@ViewBag.takipkod" name="TakipKodu" readonly />
            <br />
            @Html.DropDownListFor(x => x.Personel, (List<SelectListItem>)ViewBag.personel, "Personel seçiniz...", new { @class = "form-control" })
            <br />
            @Html.DropDownListFor(x => x.Alici, (List<SelectListItem>)ViewBag.musteri, "Alıcı seçiniz...", new { @class = "form-control" })
            <br />
            <input type="text" class="form-control" name="Aciklama" placeholder="Ürün hakkında..." />
            <br />
            <button type="submit" class="btn btn-info" id="btn1">Kaydet</button>
        </form>
    </div>
}

<script>
    $('#btn1').click(function () {
        alert("Kargo girişi başarılı...")
    });
</script>



